{% extends 'main_blade.html' %}

{% block title %}
  Кабинет
{% endblock %}

{% block app_content %}


<h4>
    Кабинет пользователя {{current_user.email}}
</h4>

<a href="{{url_for('logout')}}" class="waves-effect waves-light btn">выйти</a>

<p>История оптимизаций</p>
<ul class="collapsible" accordion="true">
{% for seanse in seanses %}
   
    <li>
        <div class="collapsible-header">
            {{seanse.page_to_parse}}
        </div>
        <div class="collapsible-body">

            <div class="collection ">
                {% for img in seanse.images %}
                    <a download="" class="collection-item" href="{{img.url}}">{{img.name}}</a>
                {% endfor %}
            </div>
            
        </div>
    </li>
    
{% endfor %}
</ul>
{% endblock %}
