{% extends 'main_blade.html' %}

{% block title %}
  Конвертировать все фотографии с сайта
{% endblock %}

{% block app_content %}
  <h4>Оптимизировать изображения на странице</h4>

  <form method=post>
    <input type=text name=site placeholder="url сайта">
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Оптимизировать
    </button>
  </form>

  <div class="collection ">
  {% for image in images %}
    
    <a class="collection-item" download="" href="{{image.url}}" >{{image.name}}</a>
        
  {% endfor %}
  </div>
{% endblock %}
